
.container{
    padding: 50px;
    background-color: white;
    border-radius: 22px;
}
.input{
     max-width: 650px; 
}
.submit_btn{
    margin-top: 8px;
    float: left;
}
.icon{
    cursor: pointer;
}